.container {
    width : 480px;
    height : 480px;
    display : flex;
    flex-direction : column;
    border : 1px solid black;
}

.vert {
    display : flex;
    flex-grow : 1;
}

.horiz {
    border : 1px solid black;
    flex-grow : 1;
}
